#para1 {
    color: azure;
    background-color: black;
    border: 20px;
    border-style: dashed;
    border-color: bisque;
    text-align: center;
}


div {
    color: red;
    background-color: blue;
}