html {
    background-color: bisque;
}
h1{
    text-align: center;
    background-color: pink;
    border: 5px;
    border-style: initial;
    margin-bottom: 100px;
    border-width: 4px;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: center;

}

img {
    display: inline-block;
    height: 150px;
}

#para1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: blue;
    text-align: center;
    border-color: black;
    border-width: 5px;
    border-style: dotted;
    padding: 2px 10px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(94, 170, 229);
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: space-between;
    

}
button {
    background-color: rgb(120, 120, 255);
    color: aliceblue;
    width: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
}

button:hover {
    cursor: pointer;
    background-color: rgb(230, 130, 0);
    opacity: 0.4;
    transition: 0.8s ease-in-out;
    
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.cat1 {
    border-color: blue;
    border-style: double;
    border-width: 10px;
    border-radius: 100%;
}

#para2 {
    color: rgb(125, 71, 5);
    text-align: center;
}

#para3 {
    color: pink;
    text-align: center;
}
@media screen {max-width: 780px;
    
}